<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>page principal</h1>
    <hr>
    <a href="/excluirusuarios">Clique aqui remover todos</a>
    <br><br>
    <a href="/listar">Clique aqui Listar todos</a>
    <br><br><br>
    <hr>
    <form action="/cadastrar" method="post">
        <input type="text" name="nome" placeholder="Digite seu nome"><br>
        <input type="text" name="email" placeholder="Digite seu e-mail"><br>
        <input type="password" name="senha" placeholder="Digite sua senha"><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>