<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>página de ação</title>
    </head>
    <body>
        <img width="150px" height="90px" src="../static/certificado.png">
        <h1>Minha aula de sexta</h1>
        <a href="https://www.ifpb.edu.br/">Clique aqui para ver o site do IFPB</a>
        <br><br>
        <a href="www.globo.com">Veja a globo</a>
        <br>
        <input type="text" placeholder="digite seu nome">
        <br>
        <input type="number" placeholder="digite sua idade">
        <br>
        <input type="date" placeholder="data nascimento">
        <br>
        <input type="email" placeholder="digite seu email">
        <br>
        <input type="password">
        <br>
        <input type="submit">
        <p>hoje eu estou com as aulas de adolfo</p>
        <p>eu mesmo pedi para adolfo estas aulas</p>
        <a>rene</a>
        <br>
        <a>habitante de sousa</a>
        <hr>
        <img width="300px" height="200px" src="https://hermes.dio.me/articles/cover/e43b602a-d5b1-40b8-a0b7-fcae39e1e060.png">
    </body>
</html>