<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exemplo de minha aula</title>
</head>
<body>
    <h1>Aula de hoje</h1>
    <h2>Html e suas tags</h2>

    <p>Vimos uma série de tags html e alguns atributos</p>

    <form action="caminho no backend" method="post">
        <label>Digite seu login </label>
        <input type="text">
        <br>
        <label>Digite sua senha </label>
        <input type="password">
        <br>
        <button type="submit">Fazer login</button>

    </form>

</body>
</html>