<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>sub 3 período</title>
    <link rel="stylesheet" href="../static/index3.css">
</head>
<body>
    <div class="topo">
        <h1>Turma do P3 </h1>
    </div>
    <div class="conteudo">
        <p>Essa turma é bem numerosa e tem sido tranquilo estar com eles. </p>
    </div>
    <div class="texto1">
        <a>oi pessoal, testando coisas</a>
    </div>
    <div class="texto2">
        <a>fala galera, essa turma é top</a>
    </div>
</body>
</html>