<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exemplo de minha aula</title>
</head>
<body>
    <h1>Aluno presentes</h1>
    <h2>Aqui estão as lendas</h2>

    <h3>aqui abaixo tem uma lista desordenada</h3>
    <ul>
        <li>carlos eduardo</li>
        <li>maria eduarda</li>
        <li>alan victor</li>
    </ul>

    <br><br>
    <h3>aqui abaixo tem uma lista ordenada</h3>
    <ol>
        <li>carlos eduardo</li>
        <li>maria eduarda</li>
        <li>alan victor</li>
    </ol>
    <br><br>

    <h3>aqui abaixo tem uma tabela</h3>
    <table>
        <tr>
            <td>
                Nome
            </td>
            <td>
                Disciplina
            </td>
        </tr>

        <tr>
            <td>
                Renê
            </td>
            <td>
                web 1
            </td>
        </tr>

        <tr>
            <td>
                Adolfo
            </td>
            <td>
                Análise e projeto de sistemas
            </td>
        </tr>

    </table>

</body>
</html>