<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/index6.css">
</head>
<body>
    <div class="banner">
        <h1>aqui vai ficar o topo da aplicação</h1>
    </div>
    <div class="conteudo">

        <div class="coluna">
            <h1>coluna1</h1>
        </div>

        <div class="coluna">
            <h1>coluna2</h1>
        </div>
        <div class="coluna">
            <h1>coluna3</h1>
        </div>
        <div class="coluna">
            <h1>coluna4</h1>
        </div>

    </div>

</body>
</html>