<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Sistema de Login</title>
        <link rel="stylesheet" href="/static/css/modaljs.css">
    </head>
    <body>
        <h1>Bem-vindo ao Sistema</h1>
        <!-- Botão que aciona o Modal -->
        <button onclick="abrirmodal()">Fazer Login</button>
        <!-- O Fundo Escuro (Overlay) e o Modal -->
        <div id="meuModal" class="modal-overlay">
            <div class="modal-conteudo">
                <span id="btnFechar" class="fechar" onclick="fechar()">&times;</span>
                <h2>Acesso Restrito</h2>
                <form>
                    <p>
                        <label>Usuário:</label>
                        <input onchange="mudou()" type="text" id="inputnome" placeholder="Digite seu usuário">

                    </p>
                    <a id="msgalerta"></a>
                    <p>
                        <label>Senha:</label>
                        <input type="password" placeholder="Digite sua senha" required>
                    </p>
                    <button type="submit">Entrar</button>
                </form>
            </div>
        </div>
        <p onmouseover="alertardoidaoMUDAR()">se passar o mouse aqui vai dar ruim</p>

        <!-- Importando o arquivo JavaScript externo -->
        <script src="/static/js/modaljs.js"></script>
    </body>
</html>